
.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  
  .people-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .person {
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 5px;
  }
  
  #notFoundMessage {
    margin-top: 10px;
  }
  